+b.product-connected-sl
    +e.__wrap
        +e.__actions
            a(href="javascript:;").to-favourite
                +icon('i-like')
        +e.__main.swiper.js-swiper-main
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product-main.jpg")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product-main.jpg"
                                alt="img")
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product-main.jpg")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product-main.jpg"
                                alt="img2")
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product-main.jpg")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product-main.jpg"
                                alt="img3")
                    .swiper-slide
                        +e('a').__link(data-fancybox="gallery" href="./assets/imgs/product-main.jpg")
                            +e('img').__img.swiper-lazy(
                                data-src="./assets/imgs/product-main.jpg"
                                alt="img4")
        +e.__nav.swiper.js-swiper-thumbs
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/prew1.jpg"
                            alt="img")
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/prew2.jpg"
                            alt="img")
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/prew3.jpg"
                            alt="img")
                    .swiper-slide
                        +e('img').__img.swiper-lazy(
                            data-src="./assets/imgs/prew4.jpg"
                            alt="img")
            .swiper-button-prev.th-swiper-button-prev
            .swiper-button-next.th-swiper-button-next